.footer {
  padding-top: 4.8rem;
  background-color: $light;

  width: 100%;
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin: 0 0 0 20rem;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 23.6rem;
    height: 2rem;
    background: url("./assets/images/logo.png") no-repeat;
    margin-bottom: 4.5rem;
  }
  &__text {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.33;
    color: $light-grey;
  }
  &__about {
    flex: 0 0 20%;
    margin-right: 20rem;
    @media screen and (max-width: $xlarge) {
      margin-right: 10rem;
    }
  }
  &__links {
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
  }
  &__social {
    padding: 3.4rem 0;
    background: $dark;
    &-wrapper {
      margin: 0 auto;
      max-width: 5rem;
      display: flex;
      justify-content: space-around;
    }
  }
}

.links {
  margin-bottom: 13rem;
  &__list {
    flex-basis: 225px;
    margin-right: 9rem;
    list-style: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: $white;
    @media screen and (max-width: $xlarge) {
      margin: 0 1.5rem 0 0;
    }
  }
  &__heading {
    display: inline-block;
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    font-weight: 500;
    color: $light-grey;
    @media screen and (max-width: $xlarge) {
      font-size: 2.2rem;
    }
  }

  &__link {
    display: block;
    margin-bottom: 2.4rem;
    @media screen and (max-width: $xlarge) {
      font-size: 1.2rem;
    }
  }
}

.social {
  &__link {
    text-decoration: none;
    color: $white;
    font-size: 2rem;
    margin-right: 2rem;
  }
}
