<section class="advantages">
  <h2 class="advantages__heading">Why radiohead?</h2>
  <div class="advantage__advantage advantage">
    <h3 class="advantage__heading">A world of music in your pocket.</h3>
    <p class="advantage__text">Find new loves and old favourites from over 56 million tracks.</p>
  </div>
  <div class="advantage__advantage advantage">
    <h3 class="advantage__heading">Craft your collection.</h3>
    <p class="advantage__text">Create playlists from millions of tracks and take them with you wherever you go.</p>
  </div>
  <div class="advantage__advantage advantage">
    <h3 class="advantage__heading">No WiFi? No problem.</h3>
    <p class="advantage__text">With Deezer Premium, you don't need to be connected to enjoy your favourite tracks.</p>
  </div>
  <div class="advantage__advantage advantage">
    <h3 class="advantage__heading">Made for you.</h3>
    <p class="advantage__text">Flow gets to know what you like and what you don't. Discover your personal soundtrack.
    </p>
  </div>
</section>