<div class="brands">
  <img src="../assets/images/playstation-wordmark.png" alt="playstation" class="brands__brand">
  <img src="../assets/images/BlackBerry.png" alt="blackberry" class="brands__brand">
  <img src="../assets/images/redbull.png" alt="redbull" class="brands__brand">
  <img src="../assets/images/tiktok-icon-white-1.png" alt="" class="brands__brand">
  <img src="../assets/images/SENNHEISER_Basic_logo.png" alt="" class="brands__brand">
</div>