<div class="footer__wrapper">
  <div class="footer__about">
    <img src="./assets/images/logo.png" alt="" class="footer__logo">
    <p class="footer__text">Radiohead is the first global music streaming service with high fidelity sound, hi-def video
      quality, along with expertly curated playlists and original content making it a trusted source for music and
      culture.</p>
  </div>
  <div class="footer__links links">
    <ul class="links__list links--get-started"><span class="links__heading">Get Started</span>
      <li class="links__link">Get Started</li>
      <li class="links__link">Playlist Import</li>
      <li class="links__link">Supported Devices</li>
      <li class="links__link">Get Support</li>
    </ul>
    <ul class="links__list links--discover"><span class="links__heading">Discover</span>
      <li class="links__link">About</li>
      <li class="links__link">Magazine</li>
    </ul>
    <ul class="links__list links--account"><span class="links__heading">Account</span>
      <li class="links__link">Sign Up</li>
      <li class="links__link">Redeem Voucher</li>
      <li class="links__link">Redeem Giftcard</li>
      <li class="links__link">Manage Account</li>
      <li class="links__link">Store</li>
    </ul>
    <ul class="links__list links--company"><span class="links__heading">Company</span>
      <li class="links__link">Partners</li>
      <li class="links__link">Careers</li>
      <li class="links__link">Press</li>
    </ul>
  </div>
</div>
<div class="footer__social social">
  <a href="https://instagram.com" class="social__link"><i class="fab fa-instagram"></i></a>
  <a href="https://facebook.com" class="social__link"><i class="fab fa-facebook-f"></i>

</a>
  <a href="https://twitter.com" class="social__link"><i class="fab fa-twitter"></i></a>
</div>