<div class="footer__about">
  <img src="" alt="" class="footer__logo">
  <p class="footer__text">Radiohead is the first global music streaming service with high fidelity sound, hi-def video quality, along with expertly curated playlists and original content making it a trusted source for music and culture.</p>
</div>
<div class="footer__links links">
  <ul class="links__get-started">Get Started
    <li class="links__link">Get Started</li>
    <li class="links__link">Playlist Import</li>
    <li class="links__link">Supported Devices</li>
    <li class="links__link">Get Support</li>
  </ul>
  <ul class="links__discover">Discover
    <li class="links__link">About</li>
    <li class="links__link">Magazine</li>
  </ul>
  <ul class="links__account">Account
    <li class="links__link">Sign Up</li>
    <li class="links__link">Redeem Voucher</li>
    <li class="links__link">Redeem Giftcard</li>
    <li class="links__link">Manage Account</li>
    <li class="links__link">Store</li>
  </ul>
  <ul class="links__company">Company
    <li class="links__link">Partners</li>
    <li class="links__link">Careers</li>
    <li class="links__link">Press</li>
  </ul>
</div>
<div class="footer__social social">
  <a href="" class="social__link"></a>
  <a href="" class="social__link"></a>
  <a href="" class="social__link"></a>
</div>