<img src="../assets/images/logo.png" alt="logo" class="header__logo">
<nav class="header__nav nav">
  <ul class="nav__list">
    <li class="nav__item">Contact</li>
    <li class="nav__item">Plans</li>
    <li class="nav__item">Blog</li>
  </ul>
</nav>
<button class="header__btn btn btn--action">Sign In</button>
<button class="header__btn btn btn--outlined">Sign Up</button>
