<section class="header__hero hero">
  <h1 class="hero__heading">Discover, search, and play any song featuring voice control.
  </h1>
  <button class="hero__btn btn btn--action">Try it free</button>
  <div class="hero__stores-logo">
    <div class="hero__appstore-logo"></div>
    <div class="hero__google-play-logo"></div>
  </div>
</section>