<section class="promo-left">
  <div class="promo-left__gallery gallery">
    <img src="../assets/images/promo-right/Artboard@3x.png" alt="album_cover" class="gallery__image">
    <img src="../assets/images/promo-right/Artboard@3xa.png" alt="album_cover" class="gallery__image">
  </div>
  <div class="promo-right__promo-text">
    <h2 class="promo-text__heading">Hand-picked playlists</h2>
    <p class="promo-text__text">Stream guest playlists curated by the artists you love. Also, check out our original playlists hand-picked by our team of experts.</p>
    <a href="" class="promo-text__link">Discover Radioheat</a>
  </div>
</section>