<section class="promo-block promo-block--left">
  <div class="promo-block__gallery gallery">
    <img src="./assets/images/promo-left/3af0e55ea66ea69e35145fb108b4a636.png" alt="album_cover"
      class="gallery__image">
    <img src="./assets/images/promo-left/8ddf985207de08d839f8d6e0afebd762.png" alt="album_cover"
      class="gallery__image">
    <img src="./assets/images/promo-left/39e4598ce6d83898aa96468e9af8993e.png" alt="album_cover"
      class="gallery__image">
    <img src="./assets/images/promo-left/3f9b1ab0095226f5af5f5720e1a49acd.png" alt="album_cover"
      class="gallery__image">
    <img src="./assets/images/promo-left/12545431_486880568181753_2073200248_n.png" alt="album_cover"
      class="gallery__image">
    <img src="./assets/images/promo-left/ffbee5009a7719cc608d1ba337388fdf.png" alt="album_cover"
      class="gallery__image">
  </div>
  <div class="promo-block__promo-text promo-text">
    <h2 class="promo-text__heading">The music you love</h2>
    <p class="promo-text__text">With over 60 million tracks and tons of exclusive interviews and videos, TIDAL is here
      to bring you closer to the artists you listen to.</p>
    <a href="" class="promo-text__link">More Featured Content</a>
  </div>
</section>