<section class="promo-block promo-block--right">
  <div class="promo-block__gallery gallery gallery--right">
    <img src="./assets/images/promo-right/Artboard@3x.png" alt="album_cover" class="gallery__image gallery__image--long">
    <img src="./assets/images/promo-right/Artboard@3xa.png" alt="album_cover" class="gallery__image gallery__image--long">
  </div>
  <div class="promo-block__promo-text promo-text promo-text--right">
    <h2 class="promo-text__heading">Hand-picked playlists</h2>
    <p class="promo-text__text">Stream guest playlists curated by the artists you love. Also, check out our original
      playlists hand-picked by our team of experts.</p>
    <a href="#" class="promo-text__link">Discover Radioheat</a>
  </div>
</section>